# Flutter
.dart_tool/
.packages
.pub/
build/
flutter_*.png

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/.idea/
**/android/local.properties
**/android/.settings/

# iOS
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/.generated/
**/ios/.symlinks/
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/DerivedData/
**/ios/.idea/
**/ios/.settings/
**/ios/*.xcuserstate

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Pods/
**/macos/.symlinks/
**/macos/.generated/
**/macos/Flutter/ephemeral/

# Windows
**/windows/runner/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Web
**/web/generated_plugin_registrant.dart

# VS Code
.vscode/
.idea/

# IntelliJ
*.iml

# Misc
*.log
*.tmp
*.swp
*.lock

# Environment files
.env
